.blog,
.archive {
    .main-container {
        margin-top: -200px;
        background: #fff;
        padding-top: 15px;
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}

.single {
    header.navbar {
        border-bottom-color: #e2e2e2 !important;
    }
    .main-container {
        margin-top: 115px;
        background: #fff;
    }
}

.blog,
.single,
.archive {
    .page-header {
        @media screen and (max-width: 767px) {
            margin-top: 90px;
        }
        .container {
            transform: translate( -50%, -100%);
            @media screen and (max-width: 767px) {
                transform: translate(0, 25%);
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
    .post {
        margin-bottom: 40px;
    }
    // .input-group-addon {
    //     padding: 0;
    //     border-radius: 0;
    //     border: 0;
    //     .btn {
    //         border-radius: 0;
    //         font-size: 1.5em;
    //         padding: 10px 20px 14px 20px;
    //         border-color: #4fa345;
    //     }
    // }
    // .form-control {
    //     padding: 18px;
    //     height: auto;
    //     background: #f2f3f4;
    // }
    h2 {
        margin-bottom: 10px;
    }
    .sidebar {
        @media screen and (max-width: 767px) {
            padding-top: 0;
        }
        h3 {
            @extend h2;
            font-size: 40px;
            margin-bottom: 30px;
            margin-top: 0;
        }
        padding-top: 127px;
        font-size: 14px;
        font-family: $font-family-publica-light;
        .widget {
            padding: 10px 0;
        }
        .widget_categories {
            ul {
                padding: 30px 0;
                border-top: 1px solid #000;
                list-style: none;
                margin-left: 0;
                border-bottom: 1px solid #000;
            }
        }
        form {
            p {
                margin-bottom: 20px;
            }
        }
    }
}

.post-navigation {
    text-transform: uppercase;
    font-weight: bold;
    color: #4fa345;
    margin-bottom: 90px;
    @media screen and (max-width: 991px) {
        padding: 0 15px;
        .single & {
            padding: 0;
        }
    }
    a {
        font-size: 14px;
        padding: 0 15px 0 0;
        ~a {
            padding: 0 15px 0 15px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .arrow {
        padding: 0 5px;
        font-size: 1.5em;
        display: inline-block;
    }
    .separator {
        margin-right: 20px;
        margin-left: 5px;
        font-size: 1.8em;
        vertical-align: middle;
    }
}